<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Add Document</b></h4>
          </div>
        </div>
      </div>

      <div *ngIf="isCreating" class="alert alert-info">
        Creating document...
      </div>

      <!-- FORM -->
      <form [formGroup]="documentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" formControlName="name" class="form-control" type="text" />
        </div>
        
        <div class="form-group">
          <label for="created_by">Created By</label>
          <input id="created_by" formControlName="created_by" class="form-control" type="text" />
        </div>
        
        <div class="form-group">
          <label for="pdf_url">PDF URL</label>
          <input id="pdf_url" formControlName="pdf_url" class="form-control" type="text" />
        </div>
        
        <div formArrayName="signer_document">
          <div *ngFor="let signer of signerDocuments.controls; let i = index" [formGroupName]="i" class="signer-document">
            <div class="form-group d-flex align-items-center mb-3 gap-2">
              <div class="col-5">
                <label for="signer_name">Signer Name</label>
                <input id="signer_name" formControlName="name" class="form-control" type="text" />
              </div>
              <div class="col-5">
                <label for="signer_email">Signer Email</label>
                <input id="signer_email" formControlName="email" class="form-control" type="email" />
              </div>
              <button type="button" class="btn btn-danger remove-btn" (click)="removeSigner(i)">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>          
        </div>
        

        <div class="d-grid gap-2 col-2 mx-left">
          <button type="button" class="btn btn-primary add-signer-btn" (click)="addSigner()"><i class="fas fa-plus-circle"></i><span> Signer</span></button>
          <button type="submit" class="btn btn-success submit-btn" [disabled]="documentForm.invalid || isCreating">
            {{ isCreating ? 'Creating...' : 'Submit' }}
          </button>
        </div>


      </form>
    </div>
  </div>
</div>
