.container-xl {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0px;
    margin-top: 6%;
    width: 50%;
  }
  
  .table-responsive {
    margin: 30px 0;
    .table-wrapper {
      background: #fff;
      padding: 20px 25px;
      border-radius: 3px;
      box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    }
  
    .table-title {
      padding-bottom: 15px;
      background: #64437d;
      color: #fff;
      padding: 16px 30px;
      min-width: 100%;
      margin: -20px -25px 10px;
      border-radius: 3px 3px 0 0;
      text-align: left;
    }
  
    .table-title h4 {
      text-align: left;
      margin: 0;
    }
  
    .signer-document {
      .form-group {
        display: inline-block;
        width: 44%;
        margin-right: 10px;
        margin-bottom: 15px;
      }
  
      .remove-btn {
        background-color: red;
        color: white;
        font-size: 15px;
        width: 36px;
        height: 36px;
        margin-left: 2%;
        border-radius: 4px;
        padding:0;
        cursor: pointer;
      }

      .signer-email {
        margin-right: 0;
      }

      .success-button {
        background-color: blue;
        border-radius: 10%;
        display:block;
        margin-top: 10px;
      }

      .botao-submit{
        background-color: green;
        border-radius: 10%;
        display:block;
        margin-top: 10px;
      }
      
    }
  }
  